rich
textual
typer
termcolor
tiktoken
faiss-cpu
openai==0.28.0
pinecone-client
langchain==0.1.0
discord.py
inquirer
rlcard[torch]
python-json-logger
gitpython
gym
git+https://github.com/CR-Gjx/gym-coup.git